.likes-container {
    display: flex;
}

.likes-container .filled {
    color:#ff5500;
    font-size: 20px;
}
.likes-container .empty {
    color: #8c8c8c;
    font-size: 20px;
}

.like-count {
    margin-left: 10px;
}
