.comment-form {
    display: flex;
    flex-direction: row;

}

.comment-form textarea {
    width: 450px;
    height: 50px;
    margin: 10px 0;
    resize: none;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #ccc;

}

.comment-form textarea::placeholder {
    color: #999;
    font-style: italic;
}

.comment-form textarea:focus {
    outline: none;
    border-color: #ff5500
}
.review-form-error{
    margin: 5px 0;
    color: red;
}

.comment-form button {
    width: 100px;
    margin: 10px 0 10px 10px;
    background-color:#ff5500;
    color:white;
    border-radius: 5px;
    border: none;
}

.comment-form button:disabled {
    background-color: #8c8c8c;
    color: white
}
