.comment-form {
    display: flex;
    flex-direction: column;

}

.comment-form textarea {
    width: 295px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.comment-form > .error{
    margin: 5px 0;
    color: red;
}

.comment-form button {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 0px;
    background-color:#ff5500;
    color:white
}
