.current-user-songs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: 	#ffffff
}

.current-user-songs-map{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
}

.current-user-song {
    text-align: center;
    margin: 5px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}
