.songContainer img {
    width: 180px;
    border: 1px solid black;
    border-radius: 2px;
    z-index: auto;
}

.songContainer a {
    text-decoration: none;
    color: black
}

.img-buttons-container {
    position: relative;
    display: grid;
}

.play-button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.options-menu {
    position: absolute;
    right: 5px;
    bottom: -5px;
}

.img-buttons-container:before {
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 40%, black 180%);
}

.img-buttons-container:hover:before {
    height: 30%;
}
