.single-song-page-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #3f3f3f;
}


.single-song-upper-section {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background-color: #3f3f3f;
    color: white;
}

.single-song-lower-section {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.song-img {
    height: 400px;
    width: 580px;
    border-radius: 5px;
    margin: 10px 0;
}

.song-detail-view {
    margin: 10px;
    padding-left: 20px;

}

.single-song-comment-view {
    width: 600px;
    border-right: 1px solid #c9c8c8;
    margin-left: 10px;
    color: white
}

.single-song-like-view {
    margin: 0 20px;
}

.single-song-like-view h2 {
    color: white;
}

.song-detail-view button {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
}

.song-detail-view button:hover {
    background-color: #ff3300;
}
