.single-song-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
}



.songsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
}

.songsview-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212
}

.songsview-outer-container h1 {
    color: white;
}

.songbox {
    text-align: center;
    margin: 5px;
    background-color: #3f3f3f;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
