.playlistPage {
    display: flex;
    justify-content: center;
    background-color: white;
}
.playlistViewsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    align-items: center;
    background-color: #ffffff
}

/* .playlist-header {
    align-self: flex-start;
} */

.playlistContainerDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}


.SinglePlaylistDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0;
}

.playlistInfo {
    margin-bottom: 10px;
}

.playlist-img-buttons-container {
    position: relative;
    display: grid;
}

.playlist-img-buttons-container:before {
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 40%, black 180%);
}

.playlist-img-buttons-container:hover:before {
    height: 30%;
}

.playlistComponentImg {
    width: 180px;
    border-radius: 2px;
    border: 1px solid #8c8c8c;
    z-index: auto;
}

.playlistDivTitle {
    margin: 0;
}

.playlistDivOwner {
    margin: 0;
}

.playlist-play-button {
    position: absolute;
    opacity: .75;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.playlist-options-menu {
    position: absolute;
    right: 5px;
    bottom: -5px;
}

.singlePlaylistDiv {
    display: flex;
    justify-content: center;
}


.SinglePlaylistImg {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.SinglePlaylistTitle {
    margin: 2px 0;
}

.SinglePlaylistArtist {
    margin: 0;
}

.songDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 5px;
}

.playlistSongContainer{
    background-color: black;
    border-radius: 15px;
    width: 700px;
    height: 50px;
    display: grid;
    grid-template-columns: 55px 650px 100px ;
    grid-template-areas:
        "img info .";
    cursor: pointer;
    margin: 5px 0;
}

.songImg{
    grid-area: img;
    margin-right:  5px;
    width: 50px;
}

.songInfo {
    grid-area: info;
    color: white;


}

.songTitle {
    margin: 0;
}

.songArtist {
    margin: 0;
}

.songDivNoSongs{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}

.NoSongP {
    color: white;
}

.playlist-view.songs-button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #ff5500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.playlistSongContainer > button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff5500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.playlistBox {
    text-align: center;
    margin: 5px;
    width: 182px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.SinglePlaylistInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
