.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;

}

.formContainer input,
.formContainer textarea {
    width: 99%;
}


.formContainer input[type="file"]:hover {
    cursor: pointer;
}


.new-song-form-submit {
    margin-bottom: 10px;
}

.sign-in {
    text-align: center;
}
