.splash-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black
}


.splash-page-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-size: small;
    color:#8c8c8c;
    margin-top: 100px

}

.splash-page-footer a{
    text-decoration: none;
    color:#8c8c8c
}
