
.playlistPageContainer {
    max-width: 800px;
}

.playlistFormContainer label {
    display: block;
    margin-bottom: 10px;
}

.playlistFormContainer input[type="text"],
.playlistFormContainer input[type="file"],
.playlistFormContainer textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.playlistFormContainer .error {
    color: red;
    margin-top: 5px;
}

.playlistFormContainer button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.playlistFormContainer button:disabled {
    background-color: #8c8c8c;
    cursor: not-allowed;
}
